<h1>Home</h1>

<p>
    The home page can be built like any normal static HTML page or 
    you build custom fancy-featured angular applications here. 

    As soon as it should be either reusable (on another page)
    or you want to make a part of the page exportable (via iframes)
    you need to directly import the self-contained Component 
    here.
</p>

<h3>Container import below this header</h3>

<!-- 
    some IDEs might complain that custom components should be prefixed by 'app-' 
    usually I ignore that, because I am the boss.
-->
<embedder name="result-table"></embedder>
<result-table></result-table>
